<%= form_with(model: manager, local: true) do |form| %>
  <% if manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manager.errors.count, "error") %> prohibited this manager from being saved:</h2>

      <ul>
      <% manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="field form-group col-md-3">
      <%= form.label :election_id %>
      <%= form.select :election_id, Election.all.collect { |e| [ e.year, e.id ] }, {}, {required: 'true', autofocus: 'true', class: 'form-control', disabled: true}  %>
    </div>

    <div class="field form-group col-md-3">
      <%= form.label :type_manager %>
      <%= form.select :type_manager, @type_manager, {}, {required: 'true', autofocus: 'true', class: 'form-control', disabled: true} %>
    </div>

  </div>
  <div class="row">
    <div class="field form-group col-md-3">
      <%= form.label :state_id %>
      <%= form.select :state_id, @states, {}, {required: 'true', autofocus: 'true', class: 'form-control', id: 'state_id'}  %>
    </div>

    <div class="field form-group col-md-6">
      <%= form.label :city_id %>
      <%= form.select :city_id, @cities, {}, {required: 'true', autofocus: 'true', class: 'form-control', id: 'city_id'}  %>
    </div>
  </div>

  <div class="row">
    <div class="field form-group col-md-9">
      <%= form.label :name %>
      <%= form.text_field :name, id: :manager_name, class: 'form-control', required: 'true' %>
    </div>
  </div>

  <% if(false)%>
  <div class="row">
    <div class="field form-group col-md-4">
      <%= form.label :start %>
      <%= form.text_field :start, id: :manager_start, type: 'date', class: 'form-control' %>
    </div>

    <div class="field form-group col-md-4">
      <%= form.label :end %>
      <%= form.text_field :end, id: :manager_end, type: 'date', class: 'form-control' %>
    </div>
  </div>
  <% end %>

  <div class="actions">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
