<h1><%= I18n.t('views.manager.index.title') %></h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Election</th>
        <th>Local</th>
        <th>Type manager</th>
        <th>Start</th>
        <th>End</th>
        <th>User</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @managers.each do |manager| %>
        <tr>
          <td><%= link_to manager.name, manager, :title => "Show Promises" %></td>
          <td><%= manager.election.year %></td>
          <td>Local</td>
          <td><%= manager.type_manager_text %></td>
          <td><%= manager.start %></td>
          <td><%= manager.end %></td>
          <td><%= manager.user.email %></td>
          <td>
            <%= link_to '<i class="glyphicon glyphicon-list-alt"></i>'.html_safe, manager_promises_path(manager), class: 'btn btn-info', :title => "Show Promises" %>
            <%#= link_to '<i class="glyphicon glyphicon-file"></i>'.html_safe, manager, class: 'btn btn-info', :title => "Show" %>
            <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_manager_path(manager), class: 'btn btn-primary', :title => "Edit" %>
            <%#= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, manager, method: :delete, data: { confirm: I18n.t('views.are_you_sure') }, class: 'btn btn-danger', :title => "Delete" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to '<i class="glyphicon glyphicon-file"></i> New Manager'.html_safe, new_manager_path, class: 'btn btn-primary' %>
