<span class="title-resource"><%#= I18n.t('views.manager.index.title') %> <%= @managers.model_name.human(count: @managers.count) %></span>

<div class="pull-right">
  <%= link_to_new new_manager_path, {text: 'views.manager.index.new'} %>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th><%= @managers.human_attribute_name 'name' %></th>
        <th><%= @managers.human_attribute_name 'election' %></th>
        <th>Local</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @managers.each do |manager| %>
        <tr>
          <td><%= link_to manager.type_manager_text+' - '+manager.name, manager, :title => "Show Promises" %></td>
          <td><%= manager.election.year %></td>
          <td><%= manager.get_local %></td>
          <td class="text-right">
            <%= link_to_promises manager %>
            <%#= link_to '<i class="glyphicon glyphicon-file"></i>'.html_safe, manager, class: 'btn btn-info', :title => "Show" %>
            <%= link_to_edit edit_manager_path(manager), {show_text: false} %>
            <%#= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, manager, method: :delete, data: { confirm: I18n.t('views.are_you_sure') }, class: 'btn btn-danger', :title => "Delete" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @managers %>
