<p>
  <strong>Name:</strong>
  <%= @manager.name %>
</p>

<p>
  <strong>Election:</strong>
  <%= @manager.election.year %>
</p>

<p>
  <strong>Country:</strong>
  <%= @manager.country && @manager.country.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @manager.state && @manager.state.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @manager.city && @manager.city.name %>
</p>

<p>
  <strong>Type manager:</strong>
  <%= @manager.type_manager_text %>
</p>

<p>
  <strong>Start:</strong>
  <%= l @manager.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @manager.end %>
</p>

<p>
  <strong>User:</strong>
  <%= @manager.user.email %>
</p>

<%= link_to 'Promises', manager_promises_path(@manager), class: 'btn btn-primary' %> |
<%= link_to '<i class="glyphicon glyphicon-pencil"></i> '.html_safe+I18n.t('views.edit'), edit_manager_path(@manager), class: 'btn btn-primary' %> |
<%= link_to '<i class="glyphicon glyphicon-chevron-left"></i> '.html_safe+I18n.t('views.back'), managers_path, class: 'btn btn-primary' %>
