<div class="field form-group" id="manager_<%= manager.id%>">
  <div class="panel panel-primary margin-spaces">
    <div class="panel-heading">
      <%= manager.get_local %> | <%= manager.election.description %>
    </div>
    <div class="panel-body">
      <div class="row row-custom-1">
        <%= manager.type_manager_text %> <br />
        <div class="pull-left title-2">
          <%= link_to manager.name, manager_promises_path(manager) %>
        </div>
        <div class="pull-right">
          <%#= link_to_follow manager %>
          <span id="link-follow"><%= render 'follow_link', manager: manager %></span>
        </div>
      </div>
      <div class="row row-custom-1">
        <% resume = manager.get_resume_promises %>
        <span class="title-2">Total de promessas: <%= resume[:total] %></span>
        <div class="pull-right">
        <i class="fa fa-square-o" aria-hidden="true"></i> Não cumpridas: <%= resume[:opened][:count] %> |
        <i class="fa fa-check-square-o" aria-hidden="true"></i> Cumpridas: <%= resume[:finished][:count] %>
        </div>
        <br />
      </div>
      <div class="row row-custom-1 height-26">
        <%= render 'bar', perc: resume[:finished][:perc] %>
      </div>
      <div class="row row-custom-1 pull-right">
        <% if(resume[:total] == 0) %>
          <%= link_to_new new_manager_promise_path(manager), {text: 'Cadastrar a primeira promessa'} %>
        <% else %>
          <%= link_to_promises manager, {text: 'Exibir promessas'} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
