<div class="field form-group col-md-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <%= manager.type_manager_text %> - <%= manager.get_local %> | <%= manager.election.year %>
    </div>
    <div class="panel-body">
      <div class="row row-custom-1">
        <div class="pull-left title-2">
          <%= link_to manager.name, manager %>
        </div>
        <div class="pull-right">
          <i class="glyphicon glyphicon-star-empty title-1"></i>
        </div>
      </div>
      <div class="row row-custom-1">
        <% resume = manager.get_resume_promises %>
        <span class="title-2">Total de promessas: <%= resume[:total] %></span><br />
        Cumpridas: <%= resume[:finished][:count] %> |
        Pendetes: <%= resume[:opened][:count] %><br />
      </div>
      <div class="row row-custom-1">
        <%= render 'bar', perc: resume[:finished][:perc] %>
      </div>
      <div class="row row-custom-1">
        <% text_promise = resume[:total] == 0 ? 'Cadastrar a primeira promessa' : 'Exibir promessas' %>
        <%= link_to text_promise, manager_promises_path(manager), class: 'btn btn-info', :title => "Show Promises" %>
      </div>
    </div>
  </div>
</div>
