<!-- <div><img src="banner-larger.png" /></div> -->
<div class="jumbotron">
  <div class="container">
    <div class="orange title-resource">Eu prometo a você ...</div>
    <div>Verifique como estão as promessas dos gestores públicos.</div>
    <br />
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-3 hidden-xs-down bg-faded sidebar">
      <h3>Cidades</h3>
      <%= form_tag cities_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search], class: 'form-control' %>
        <%= button_tag type: 'submit', class: 'btn btn-primary btn-sm' do %>
          <i class="glyphicon glyphicon-search"></i> Pesquisa
        <% end %>
      <% end %>

      <h3>Estados</h3>
      <%= form_tag states_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search], class: 'form-control' %>
        <%= button_tag type: 'submit', class: 'btn btn-primary btn-sm' do %>
          <i class="glyphicon glyphicon-search"></i> Pesquisa
        <% end %>
      <% end %>

      <br />
    </div>
    <div class="col-sm-9 col-md-9 hidden-xs-down bg-faded sidebar">
      <div class="row bs-callout bs-callout-primary">
        <%= link_to manager_promise_path(@last_promise.manager, @last_promise) do %>
          <h4><%= ico_fa 'share' %> Última promessa registrada</h4>
          <%= @last_promise.manager.get_local %><br />
          <%= @last_promise.manager.type_manager_text  %> <%= @last_promise.manager.name  %><br />
          <b>Descrição da promessa: </b>
          <%= @last_promise.description  %>
        <% end %>
      </div>

      <%#= render 'charts' %>
      <%= render 'panel-manager' %>
    </div>
  </div>
</div>
