<div class="container">
  <div class="row">
    <div class="well well-sm">
      <span class="title-resource"><%= link_to 'Estados', states_path %></span>
      <div class="pull-right">
        <%= form_tag states_path, :method => 'get' do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Pesquisa", :name => nil, class: 'btn btn-primary btn-sm' %>
        <% end %>
      </div>
    </div>
    <% @managers.each do |manager| %>
      <%= render 'manager', manager: manager %>
    <% end %>
  </div>
</div>
