<%= form_with(model: election, local: true) do |form| %>
  <% if election.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(election.errors.count, "error") %> prohibited this election from being saved:</h2>

      <ul>
      <% election.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label :year %>
      <%= form.number_field :year, id: :election_year, class: 'form-control' %>
    </div>

    <div class="form-group col-md-3">
      <%= form.label :type_election %>
      <%= form.select :type_election, @type_election, {}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
    </div>

    <div class="form-group col-md-7">
      <%= form.label :description %>
      <%= form.text_field :description, id: :election_description, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
