<span class="title-resource"><%= I18n.t('views.election.index.title') %></span>

<div class="pull-right">
  <%= link_to_new new_election_path, {text: 'views.election.index.new'} %>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th><%= I18n.t('views.election.columns.description') %></th>
        <th style="width: 200px"><%= I18n.t('views.election.columns.type') %></th>
        <th style="width: 100px"></th>
      </tr>
    </thead>

    <tbody>
      <% @elections.each do |election| %>
        <tr>
          <td><%= link_to election.year.to_s+' - '+election.description, election %></td>
          <td><%= election.type_election_text %></td>
          <td class="text-right">
            <%= link_to_edit edit_election_path(election), {show_text: false} %>
            <%#= link_to_delete election %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @elections %>
