<h1><%= I18n.t('views.election.index.show') %></h1>

<p>
  <strong><%= I18n.t('views.election.columns.year') %>:</strong>
  <%= @election.year %>
</p>

<p>
  <strong><%= I18n.t('views.election.columns.type') %>:</strong>
  <%= @election.type_election_text %>
</p>

<p>
  <strong><%= I18n.t('views.election.columns.description') %>:</strong>
  <%= @election.description %>
</p>

<div class="pull-right">
  <%= link_to_edit edit_election_path(@election) %>
  <%= link_to_back elections_path %>
</div>
