<span class="title-resource">Sobre</span>
<hr />
<div>
  <h3><%= ico_fa 'chevron-right' %> Inspiração e problema</h3>
  <p>
    Tradicionalmente em tempos de eleição, ouvimos muitas vezes dos candidatos <b><i>"Eu prometo a você ..."</i></b>
    e definem um compromisso a ser de realizado durante o seu governo.
  </p>
  <p>
    Depois de encerrada a votação e definido o candidato ou candidata eleito,
    não fica complicado de nós eleitores administrarmos o que foi realizado ou
    o que ainda está na promessa, pensando nisso a proposta desse projeto e
    proporcionar essa ferramenta onde nós eleitores podemos registrar as promessas e
    marcar as que foram cumpridas e acompanhar a evolução da administração das nossas
    cidades, estados e país.
  </p>

  <h3><%= ico_fa 'chevron-right' %> Objetivo</h3>
  <p>
    Criar um site que permita registrar as promessas de campanha e marcar as que foram cumpridas.
  </p>

  <h3><%= ico_fa 'chevron-right' %> Recursos</h3>
  <p>
    Nesse momento o site conta com recursos básicos, apenas o registro da promessa e
    marcação da conclusão, mas caso ele receba apoio financeiro ele pode evoluir para
    cada vez mais para tornar mais detalho esse controle.
  </p>

  <h3><%= ico_fa 'chevron-right' %> Apoio</h3>
  <p>
    Veja no link <%= link_to 'Apoie', support_path %> as formas de apoiar esse site.
  </p>
</div>
