<span class="title-resource">Apoie</span>
<hr />
<div class="clearfix"></div>
<h3><%= ico_fa 'chevron-right' %> Apoiadores financeiros</h3>
<p>
  Esse site não possui nenhum patrocinador, para que ele permaneça vivo, contamos com ajuda de apoiadores financeiros. <br />
  Para se tornar um apoiador financeiro, utilize o link <br />
  <%= link_to image_tag("apoiase-link.png")+' /euprometoavoce', 'https://apoia.se/euprometoavoce' %>
</p>
<ul>
  <li><i>Seu nome</i></li>
  <li>...</li>
</ul>
<i>Nesse local serão listados os apoiadores (que concordarem em aparecer)</i>
<div class="clearfix"></div>

<h3><%= ico_fa 'chevron-right' %> Apoiadores sociais</h3>
<p>
  Registre um ou mais as promessas e ajude o site a crescer.
</p>
<p>
  Compartilhe em suas redes sociais.<br />
  <div class="row col-sm-6 social-buttons">
    <%= link_to "<span class=\"fa fa-twitter\"></span> ".html_safe+" twitter.com/euprometoavoce", 'https://twitter.com/euprometoavoce', target: 'blank', class: "btn btn-block btn-social btn-twitter" %>
    <%= link_to "<span class=\"fa fa-facebook\"></span> ".html_safe+" facebook.com/euprometoavoce", 'https://www.facebook.com/EuPrometoavoce', target: 'blank', class: "btn btn-block btn-social btn-facebook" %>
  </div>
</p>
<div class="clearfix"></div>

<h3><%= ico_fa 'chevron-right' %> Apoiadores técnicos</h3>
<p>
  Caso você encontre algum bug, informação incorreta ou tem sugestão melhoria, pode criar uma tarefa no endereço.
  <div class="row col-sm-6 social-buttons">
    <%= link_to "<span class=\"fa fa-github\"></span> ".html_safe+" github.com/marcelobohn/euprometoavoce/issues", 'https://github.com/marcelobohn/euprometoavoce/issues', target: 'blank', class: "btn btn-block btn-social btn-github" %>
  </div>
</p>
