<!-- Fixed navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag("logo.png", size: "28x28",)  %><span class="orange"></span></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% if current_user && current_user.admin? %>
          <li class=<%= current_page?(elections_path) ? 'active' : '' %>><a href="/elections">Eleições</a></li>
        <% end %>
        <li class=<%= current_page?(managers_path) ? 'active' : '' %>><a href="/managers">Administradores</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class=<%= current_page?(about_path) ? 'active' : '' %>><a href="/about">Sobre</a></li>
        <li class=<%= current_page?(support_path) ? 'active' : '' %>><a href="/support">Apoie</a></li>
        <li class=<%= current_page?(contact_path) ? 'active' : '' %>><a href="/contact">Contato</a></li>
        <% if user_signed_in? %>
          <li><%= link_to "Sair", destroy_user_session_path, method: :delete, data: { confirm: I18n.t('views.are_you_sure') } %></li>
          <li class=<%= current_page?(edit_user_registration_path) ? 'active' : '' %>><%= link_to current_user.email, edit_user_registration_path %></li>
        <% else %>
          <li><%#= link_to "Cadastro", new_user_registration_path, :class => 'navbar-link'  %></li>
          <li><%= link_to "Entrar", new_user_session_path, :class => 'navbar-link'  %></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
