<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span class="orange"><i class="glyphicon glyphicon-home"></i></span></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% if current_user && current_user.admin? %>
          <li class=<%= current_page?(elections_path) ? 'active' : '' %>><a href="/elections">Elections</a></li>
        <% end %>
        <li class=<%= current_page?(managers_path) ? 'active' : '' %>><a href="/managers">Managers</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class=<%= current_page?(about_path) ? 'active' : '' %>><a href="/about">About</a></li>
        <li class=<%= current_page?(contact_path) ? 'active' : '' %>><a href="/contact">Contact</a></li>
        <% if user_signed_in? %>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          <li class=<%= current_page?(edit_user_registration_path) ? 'active' : '' %>><%= link_to current_user.email, edit_user_registration_path %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
          <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
