<!DOCTYPE html>
<html>
  <head>
    <title>EuPrometo</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <%= render 'layouts/header' %>

      <div class="container">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
          <%= yield %>
        </div>

      </div> <!-- /container -->

      <footer class="footer">
        <div class="container">
          <p class="text-muted">Apoie esse projeto</p>
        </div>
      </footer>
    </div>
  </body>
</html>
