<%= form_with(model: [@manager, promise], local: true) do |form| %>
  <% if promise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(promise.errors.count, "error") %> prohibited this promise from being saved:</h2>

      <ul>
      <% promise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.text_field :manager_id, id: :promise_manager_id, class: 'form-control', type: 'hidden' %>


  <div class="row">
    <div class="field form-group col-md-12">
      <%= form.label :description %>
      <%= form.text_area :description, id: :promise_description, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
