<%= form_with(model: [@manager, promise], local: true) do |form| %>
  <% if promise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(promise.errors.count, "error") %> prohibited this promise from being saved:</h2>

      <ul>
      <% promise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.text_field :manager_id, id: :promise_manager_id, class: 'form-control', type: 'hidden' %>

  <div class="row">
    <div class="field form-group col-md-12">
      <%= form.label :description %>
      <% if @finishing %>
        <span style="display:block"><%= promise.description %></span>
      <% else %>
        <%= form.text_area :description, id: :promise_description, class: 'form-control' %>
      <% end %>
    </div>
  </div>
  <% if @finishing %>
    <div class="row">
      <div class="field form-group col-md-3">
        <%= form.label :date_finish %>
        <%= form.text_field :date_finish, id: :promise_date_finish, type: 'date', class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="field form-group col-md-12">
        <%= form.label :description_finish %>
        <%= form.text_area :description_finish, id: :promise_description_finish, class: 'form-control' %>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
