<% resume = manager.get_resume_promises %>
<div class="row row-custom-1">        
  <p><%= manager.type_manager_text %> <b><%= manager.name %></b></p>
  <span style="font-size: 14px"><%= manager.get_local %> | Eleição: <%= manager.election.year %></span><br />
  <span style="font-size: 14px">
    Total de promessas: <%= resume[:total] %> | 
    Cumpridas: <%= resume[:finished][:count] %> |
    Pendetes: <%= resume[:opened][:count] %>
  </span>
</div>
<div class="row row-custom-1">
  <%= render 'home/bar', perc: resume[:finished][:perc] %>
</div>