<div class="jumbotron">
  <% resume = manager.get_resume_promises %>
  <div class="row row-custom-1" id="manager_<%= manager.id%>">
    <div class="pull-left">
      <span class="title-2"><%= manager.type_manager_text %> <b><%= manager.name %></b></span><br />
      <span style="font-size: 14px"><%= manager.get_local %> | <%= manager.election.description %></span>
    </div>
    <div class="pull-right">
      <%#= link_to_follow manager %>
      <span id="link-follow"><%= render 'follow_link', manager: manager %></span>
      <%= link_to_new new_manager_promise_path, {text: 'Cadastrar promessa'} if !current_page?(action: 'new') %>
    </div>

  </div>
  <div class="row row-custom-1">
    <div class="pull-left">
      Total de promessas: <b><%= resume[:total] %></b>
    </div>
    <div class="pull-right">
      <i class="fa fa-square-o" aria-hidden="true"></i> Não cumpridas: <b><%= resume[:opened][:count] %></b> |
      <i class="fa fa-check-square-o" aria-hidden="true"></i> Cumpridas: <b><%= resume[:finished][:count] %></b>
    </div>
  </div>
  <div class="row row-custom-1">
    <%= render 'bar', perc: resume[:finished][:perc] %>
  </div>
</div>
