<%= render 'manager', manager: @manager %>

<span class="title-resource"><%= I18n.t('views.promise.index.edit') %></span>

<%= render 'form', promise: @promise %>

<hr />

<div class="pull-right">
  <%= link_to_show manager_promise_path(@manager, @promise) %>
  <%= link_to_back manager_promises_path %>
</div>
