<p id="notice"><%= notice %></p>
<h3>Manager</h3>
<p><%= link_to @manager.name, manager_path(@manager) %></p>

<h1>Promises</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Description</th>
        <th>Date finish</th>
        <th>Description finish</th>
        <th>User create</th>
        <th>User finish</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @promises.each do |promise| %>
        <tr>
          <td><%= promise.description %></td>
          <td><%= promise.date_finish %></td>
          <td><%= promise.description_finish %></td>
          <td><%= promise.user_create_id %></td>
          <td><%= promise.user_finish %></td>
          <td>
            <%= link_to '<i class="glyphicon glyphicon-file"></i>'.html_safe, manager_promise_path(@manager, promise), class: 'btn btn-info', :title => "Show" %>
            <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_manager_promise_path(@manager, promise), class: 'btn btn-primary', :title => "Edit" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to '<i class="glyphicon glyphicon-file"></i> New Promise'.html_safe, new_manager_promise_path, class: 'btn btn-primary' %>
