<%= render 'manager', manager: @manager %>

<div id="promise_<%= @promise.id %>">
    <span class="title-resource">
      <%= I18n.t('views.promise.index.show') %>
      <span id="link-favorite" ><%= render 'favorite_link', promise: @promise %></span>
    </span>

  <div class="row">
    <div class="field form-group col-md-2">
      <label>Situação</label><br />
      <span class="<%= @promise.get_status[:class] %>" title="<%= @promise.user_id ? User.find(@promise.user_id).email : '' %>"><%= @promise.get_status[:type].upcase %></span>
    </div>
    <div class="field form-group col-md-2">
      <label><%= I18n.t('views.promise.columns.created_at') %></label>
      <span style="display: block"><%= l @promise.created_at, format: :date_simple %></span>
    </div>
    <div class="field form-group col-md-8">
      <label><%= I18n.t('views.promise.columns.user_id') %></label>
      <span style="display: block"><%#= @promise.user_id ? User.find(@promise.user_id).name || 'Restrito' : '' %></span>
    </div>
  </div>

  <div class="row">
    <div class="field form-group col-md-12">
      <label><%= I18n.t('views.promise.columns.description') %></label>
      <span style="display: block"><%= @promise.description %></span>
    </div>
  </div>

  <% if (@promise.video_link) %>
    <div class="row">
      <div class="field form-group col-md-6">
        <label><%= I18n.t('views.promise.columns.video_link') %></label><br />
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= @promise.video_link_embed %>"></iframe>
        </div>
      </div>
    </div>
  <% end %>

  <% if (@promise.news_link) %>
    <div class="row">
      <div class="field form-group col-md-6">
        <label><%= I18n.t('views.promise.columns.news_link') %></label>
        <span style="display: block"><%= link_to @promise.news_link, @promise.news_link %></span>
      </div>
    </div>
  <% end %>

  <% if (@promise.date_finish) %>
    <hr />
    <div class="row">
      <div class="field form-group col-md-4">
        <label><%= I18n.t('views.promise.columns.date_finish') %></label>
        <span style="display: block"><%= l @promise.date_finish, format: :date_simple %></span>
      </div>
      <div class="field form-group col-md-8">
        <label><%= I18n.t('views.promise.columns.user_finish') %></label>
        <span style="display: block"><%#= @promise.user_finish_name %></span>
      </div>
    </div>

    <div class="row">
      <div class="field form-group col-md-12">
        <label><%= I18n.t('views.promise.columns.description_finish') %></label>
        <span style="display: block"><%= @promise.description_finish %></span>
      </div>
    </div>
  <% end %>

  <% if @promise.comments.count > 0  %>
    <hr />
    <div>
      <p><b>Comentários</b></p>
      <% @promise.comments.each do |comment| %>
        <div>
          <%= l comment.created_at, format: :date_simple %> -
          <%= comment.description %>
        </div>
      <% end %>
    </div>
  <% end %>

  <hr />
  <div class="pull-right">
    <%= link_to_promise_contest @promise %>
    <%= link_to_promise_finish @promise %>
    <%= link_to_edit edit_manager_promise_path(@manager, @promise) %>
    <%= link_to_back manager_promises_path %>
  </div>
</div>
