<p id="notice"><%= notice %></p>

<%= render 'manager', manager: @manager %>

<p>
  <strong>Manager:</strong>
  <%= @promise.manager %>
</p>

<p>
  <strong>Description:</strong>
  <%= @promise.description %>
</p>

<p>
  <strong>Date finish:</strong>
  <%= @promise.date_finish %>
</p>

<p>
  <strong>Description finish:</strong>
  <%= @promise.description_finish %>
</p>

<p>
  <strong>User create:</strong>
  <%= @promise.user_create_id %>
</p>

<p>
  <strong>User finish:</strong>
  <%= @promise.user_finish %>
</p>

<%= link_to 'Edit', edit_manager_promise_path(@manager, @promise) %> |
<%= link_to 'Back', manager_promises_path %>
